body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  width: 100%;
  background: white;
  height: 100%;
  display: flex;
  flex-direction: column;
}


/*________________________Header Div_____________________*/  

  .header {
    overflow: hidden;
    background: transparent;
    padding: 0;
    margin: 10px;
    margin-bottom: 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
  }
  
  #button1 {
    border-radius: 10px;
    width: 156px;
    height: 60px;
    background-color: yellow;
    display: inline-block;
  }

  #button2 {
    margin-left: 10px;
    border-radius: 10px;
    height: 60px;
    width: 60px;
    background-color: green;
    display: inline-block;
    float: right;
  }

  #button3 {
    margin-left: 10px;
    border-radius: 10px;
    height: 60px;
    width: 60px;
    background-color: red;
    display: inline-block;
    float: right;
  }

  #button4 {
    margin-left: 10px;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    background-color: purple;
    display: inline-block;
    float: right;
  }
  
/*_______________________progress bar_____________________*/
  
  .searchc {
    display: none;
    overflow: hidden;
    background: transparent;
    padding: 0;
    margin: 10px; 
    margin-bottom: 0;   
    position: relative;
    left: 0;
    right: 0;
  }
  
  #searchbar {
    border-radius: 10px;
    width: 100%;
    height: 60px;
    background-color: green;
    display: block;
    float: right;
  }
  
/*_______________________progress bar_____________________*/
  
  .navc {
	display: none;
    overflow: hidden;
    background: transparent;
    padding: 0;
    margin: 10px; 
    margin-bottom: 0;   
    position: relative;
    left: 0;
    right: 0;
  }
  
  #navbar {
    border-radius: 10px;
    width: 100%;
    height: 300px;
    background-color: red;
    display: block;
    float: right;
  }

/*_______________________progress bar_____________________*/
  
  .contactc {
    display: none;
    overflow: hidden;
    background: transparent;
    padding: 0;
    margin: 10px; 
    margin-bottom: 0;   
    position: relative;
    left: 0;
    right: 0;
  }
  
  #contactbar {
    border-radius: 10px;
    width: 100%;
    height: 180px;
    background-color: purple;
    display: block;
    float: right;
  }

/*________________________Super Divs_____________________*/
    
  .progc {
    display: inline-block;
    overflow: hidden;
    background: transparent;
    padding: 0;
    margin: 10px; 
    margin-bottom: 0;   
    position: relative;
    left: 0;
    right: 0;
  }
  
  #progress {
    border-radius: 10px;
    width: 40.2%;
    height: 30px;
    background-color: cyan;
    margin-left: 10px;
    display: block;
    float: right;
  }
  
  #blogswitch {
    border-radius: 10px;
    width: 57%;
    height: 30px;
    background-color: gray;
    display: block;
    float: left;
  }
  
/*________________________Reco Divs_____________________*/

  .reco {
    display: inline-block;
    overflow: hidden;
    background: transparent;
    padding: 0;
    margin: 10px; 
    margin-bottom: 0;   
    position: relative;
    left: 0;
    right: 0;
  }
  
  #reco1 {
    border-radius: 10px;
    width: 30%;
    height: 200px;
    background-color: orange;
    margin-left: 10px;
    display: block;
    float: right;
  }
  
  #reco2 {
    border-radius: 10px;
    width: 67%;
    height: 120px;
    background-color: yellowgreen;
    display: block;
    float: left;
  }
  
  #reco3 {
    border-radius: 10px;
    width: 67%;
    height: 70px;
    margin-top: 10px;
    background-color: darksalmon;
    display: block;
    float: left;
  }  

/*________________________Health Section_____________________*/

  .healthc {
    overflow: hidden;
    background: transparent;
    padding: 0;
    margin: 10px; 
    margin-bottom: 0;   
    position: relative;
    left: 0;
    right: 0;
  }
  
  #health {
    border-radius: 10px;
    width: 100%;
    height: 200px;
    background-color: chartreuse;
    display: block;
    float: right;
  }

/*________________________Beauty Section_____________________*/

  .beautyc {
    overflow: hidden;
    background: transparent;
    padding: 0;
    margin: 10px; 
    margin-bottom: 0;   
    position: relative;
    left: 0;
    right: 0;
  }
  
  #beauty {
    border-radius: 10px;
    width: 100%;
    height: 200px;
    background-color: pink;
    display: block;
    float: right;
  }

/*________________________business Section_____________________*/

  .businessc {
    overflow: hidden;
    background: transparent;
    padding: 0;
    margin: 10px; 
    margin-bottom: 0;   
    position: relative;
    left: 0;
    right: 0;
  }
  
  #business {
    border-radius: 10px;
    width: 100%;
    height: 200px;
    background-color: goldenrod;
    display: block;
    float: right;
  }

/*________________________Fitness Section_____________________*/

  .fitnessc {
    overflow: hidden;
    background: transparent;
    padding: 0;
    margin: 10px; 
    margin-bottom: 0;   
    position: relative;
    left: 0;
    right: 0;
  }
  
  #fitness {
    border-radius: 10px;
    width: 100%;
    height: 200px;
    background-color: orange;
    display: block;
    float: right;
  }
  
/*________________________Self-help Section_____________________*/

  .self-helpc {
    overflow: hidden;
    background: transparent;
    padding: 0;
    margin: 10px; 
    margin-bottom: 0;   
    position: relative;
    left: 0;
    right: 0;
  }
  
  #self-help {
    border-radius: 10px;
    width: 100%;
    height: 200px;
    background-color: brown;
    display: block;
    float: right;
  }
  
/*________________________Health Section_____________________*/

  .teamc {
    overflow: hidden;
    background: transparent;
    padding: 0;
    margin: 10px; 
    margin-bottom: 0;   
    position: relative;
    left: 0;
    right: 0;
  }
  
  #team1 {
    margin-bottom: 10px;  	
    border-radius: 10px;
    width: 48%;
    height: 210px;
    background-color: lime;
    display: block;
    float: left;
  }
  
  #team2 {
    margin-bottom: 10px;  	
    border-radius: 10px;
    width: 49%;
    height: 420px;
    background-color: cyan;
    display: block;
    float: right;
  }
  
  #team3 {
    margin-bottom: 10px;
    border-radius: 10px;
    width: 48%;
    height: 200px;
    background-color: yellow;
    display: block;
    float: left;
  }
  
  #team4 {  	
    border-radius: 10px;
    width: 100%;
    height: 300px;
    background-color: teal;
    display: block;
    float: left;
  }
        
/*________________________Health Section_____________________*/

  .explc {
    overflow: hidden;
    background: transparent;
    padding: 0;
    margin: 10px; 
    margin-bottom: 0;   
    position: relative;
    left: 0;
    right: 0;
  }
  
  #expl1 {
    margin-bottom: 10px;  	
    border-radius: 10px;
    width: 48%;
    height: 200px;
    background-color: red;
    display: block;
    float: left;
  }
  
  #expl2 {
    margin-bottom: 10px;  	
    border-radius: 10px;
    width: 49%;
    height: 200px;
    background-color: red;
    display: block;
    float: right;
  }
  
  #expl3 {
    margin-bottom: 10px;
    border-radius: 10px;
    width: 48%;
    height: 200px;
    background-color: red;
    display: block;
    float: left;
  }
  
  #expl4 {  	
    border-radius: 10px;
    width: 49%;
    height: 200px;
    background-color: red;
    display: block;
    float: right;
  }
        
/*________________________Health Section_____________________*/

  .creditsc {
    overflow: hidden;
    background: transparent;
    padding: 0;
    margin: 10px; 
    margin-bottom: 0;   
    margin-top: 0;       
    position: relative;
    left: 0;
    right: 0;
  }
  
  #cr1 {
    margin-bottom: 10px;  	
    border-radius: 10px;
    width: 100%;
    height: 600px;
    background-color: pink;
    display: block;
    float: left;
  }
      
/*________________________Reco Divs_____________________*/  





}


/***************************{ Mobile Styling }********************************/  





@media only screen and (max-width: 500px) {
  
/*________________________Header Div_____________________*/  

  .header {
    overflow: hidden;
    background: transparent;
    padding: 0;
    margin: 10px;
    margin-bottom: 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
  }
  
  #button1 {
    border-radius: 10px;
    width: 156px;
    height: 60px;
    background-color: yellow;
    display: inline-block;
  }

  #button2 {
    margin-left: 10px;
    border-radius: 10px;
    height: 60px;
    width: 60px;
    background-color: green;
    display: inline-block;
    float: right;
  }

  #button3 {
    margin-left: 10px;
    border-radius: 10px;
    height: 60px;
    width: 60px;
    background-color: red;
    display: inline-block;
    float: right;
  }

  #button4 {
    margin-left: 10px;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    background-color: purple;
    display: inline-block;
    float: right;
  }
  
/*_______________________progress bar_____________________*/
  
  .searchc {
    display: none;
    overflow: hidden;
    background: transparent;
    padding: 0;
    margin: 10px; 
    margin-bottom: 0;   
    position: relative;
    left: 0;
    right: 0;
  }
  
  #searchbar {
    border-radius: 10px;
    width: 100%;
    height: 60px;
    background-color: green;
    display: block;
    float: right;
  }
  
/*_______________________progress bar_____________________*/
  
  .navc {
	display: none;
    overflow: hidden;
    background: transparent;
    padding: 0;
    margin: 10px; 
    margin-bottom: 0;   
    position: relative;
    left: 0;
    right: 0;
  }
  
  #navbar {
    border-radius: 10px;
    width: 100%;
    height: 300px;
    background-color: red;
    display: block;
    float: right;
  }

/*_______________________progress bar_____________________*/
  
  .contactc {
    display: none;
    overflow: hidden;
    background: transparent;
    padding: 0;
    margin: 10px; 
    margin-bottom: 0;   
    position: relative;
    left: 0;
    right: 0;
  }
  
  #contactbar {
    border-radius: 10px;
    width: 100%;
    height: 180px;
    background-color: purple;
    display: block;
    float: right;
  }

/*________________________Super Divs_____________________*/
    
  .progc {
    display: inline-block;
    overflow: hidden;
    background: transparent;
    padding: 0;
    margin: 10px; 
    margin-bottom: 0;   
    position: relative;
    left: 0;
    right: 0;
  }
  
  #progress {
    border-radius: 10px;
    width: 40.2%;
    height: 30px;
    background-color: cyan;
    margin-left: 10px;
    display: block;
    float: right;
  }
  
  #blogswitch {
    border-radius: 10px;
    width: 57%;
    height: 30px;
    background-color: gray;
    display: block;
    float: left;
  }
  
/*________________________Reco Divs_____________________*/

  .reco {
    display: inline-block;
    overflow: hidden;
    background: transparent;
    padding: 0;
    margin: 10px; 
    margin-bottom: 0;   
    position: relative;
    left: 0;
    right: 0;
  }
  
  #reco1 {
    border-radius: 10px;
    width: 30%;
    height: 200px;
    background-color: orange;
    margin-left: 10px;
    display: block;
    float: right;
  }
  
  #reco2 {
    border-radius: 10px;
    width: 67%;
    height: 120px;
    background-color: yellowgreen;
    display: block;
    float: left;
  }
  
  #reco3 {
    border-radius: 10px;
    width: 67%;
    height: 70px;
    margin-top: 10px;
    background-color: darksalmon;
    display: block;
    float: left;
  }  

/*________________________Health Section_____________________*/

  .healthc {
    overflow: hidden;
    background: transparent;
    padding: 0;
    margin: 10px; 
    margin-bottom: 0;   
    position: relative;
    left: 0;
    right: 0;
  }
  
  #health {
    border-radius: 10px;
    width: 100%;
    height: 200px;
    background-color: chartreuse;
    display: block;
    float: right;
  }

/*________________________Beauty Section_____________________*/

  .beautyc {
    overflow: hidden;
    background: transparent;
    padding: 0;
    margin: 10px; 
    margin-bottom: 0;   
    position: relative;
    left: 0;
    right: 0;
  }
  
  #beauty {
    border-radius: 10px;
    width: 100%;
    height: 200px;
    background-color: pink;
    display: block;
    float: right;
  }

/*________________________business Section_____________________*/

  .businessc {
    overflow: hidden;
    background: transparent;
    padding: 0;
    margin: 10px; 
    margin-bottom: 0;   
    position: relative;
    left: 0;
    right: 0;
  }
  
  #business {
    border-radius: 10px;
    width: 100%;
    height: 200px;
    background-color: goldenrod;
    display: block;
    float: right;
  }

/*________________________Fitness Section_____________________*/

  .fitnessc {
    overflow: hidden;
    background: transparent;
    padding: 0;
    margin: 10px; 
    margin-bottom: 0;   
    position: relative;
    left: 0;
    right: 0;
  }
  
  #fitness {
    border-radius: 10px;
    width: 100%;
    height: 200px;
    background-color: orange;
    display: block;
    float: right;
  }
  
/*________________________Self-help Section_____________________*/

  .self-helpc {
    overflow: hidden;
    background: transparent;
    padding: 0;
    margin: 10px; 
    margin-bottom: 0;   
    position: relative;
    left: 0;
    right: 0;
  }
  
  #self-help {
    border-radius: 10px;
    width: 100%;
    height: 200px;
    background-color: brown;
    display: block;
    float: right;
  }
  
/*________________________Health Section_____________________*/

  .teamc {
    overflow: hidden;
    background: transparent;
    padding: 0;
    margin: 10px; 
    margin-bottom: 0;   
    position: relative;
    left: 0;
    right: 0;
  }
  
  #team1 {
    margin-bottom: 10px;  	
    border-radius: 10px;
    width: 48%;
    height: 210px;
    background-color: lime;
    display: block;
    float: left;
  }
  
  #team2 {
    margin-bottom: 10px;  	
    border-radius: 10px;
    width: 49%;
    height: 420px;
    background-color: cyan;
    display: block;
    float: right;
  }
  
  #team3 {
    margin-bottom: 10px;
    border-radius: 10px;
    width: 48%;
    height: 200px;
    background-color: yellow;
    display: block;
    float: left;
  }
  
  #team4 {  	
    border-radius: 10px;
    width: 100%;
    height: 300px;
    background-color: teal;
    display: block;
    float: left;
  }
        
/*________________________Health Section_____________________*/

  .explc {
    overflow: hidden;
    background: transparent;
    padding: 0;
    margin: 10px; 
    margin-bottom: 0;   
    position: relative;
    left: 0;
    right: 0;
  }
  
  #expl1 {
    margin-bottom: 10px;  	
    border-radius: 10px;
    width: 48%;
    height: 200px;
    background-color: red;
    display: block;
    float: left;
  }
  
  #expl2 {
    margin-bottom: 10px;  	
    border-radius: 10px;
    width: 49%;
    height: 200px;
    background-color: red;
    display: block;
    float: right;
  }
  
  #expl3 {
    margin-bottom: 10px;
    border-radius: 10px;
    width: 48%;
    height: 200px;
    background-color: red;
    display: block;
    float: left;
  }
  
  #expl4 {  	
    border-radius: 10px;
    width: 49%;
    height: 200px;
    background-color: red;
    display: block;
    float: right;
  }
        
/*________________________Health Section_____________________*/

  .creditsc {
    overflow: hidden;
    background: transparent;
    padding: 0;
    margin: 10px; 
    margin-bottom: 0;   
    margin-top: 0;       
    position: relative;
    left: 0;
    right: 0;
  }
  
  #cr1 {
    margin-bottom: 10px;  	
    border-radius: 10px;
    width: 100%;
    height: 600px;
    background-color: pink;
    display: block;
    float: left;
  }
      
/*________________________Reco Divs_____________________*/  





}
